body {
    background-color: rgb(47, 45, 45);
}

.training {
    color: white;
    margin-left: 34%;
    font-family: 'Courier New', Courier, monospace;
}

.training-standing {
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.to-go-back {
    width: 60px;
    height: 30px;
    margin-top: 50px;
    transform: none;
    border-radius: 6px;
    border-color: black;
    border-style: 2px;
    cursor: pointer;
}

.to-go-back:hover{
    background: rgb(103, 107, 108);
}

.to-go-back a {
    color: black;
    text-decoration: none;
}